@page "/posts/detail/{UrlTitle}"
@using Markdig
@using GiscusBlazor
@using Blog.Models
@inject NavigationManager NavigationManager
@inject IHttpClientFactory HttpClientFactory
@inject MarkdownPipeline Pipeline
@inject Task<IList<PostInfo>> PostsListTask
@inject IJSRuntime JSRuntime

@if (_fetched)
{
        <PageTitle>@Title</PageTitle>
        <div class="post-body match-braces line-numbers">
        @(new MarkupString(Content))
        </div>
        <hr />

    @if (Post.Repost == null)
    {
                <p class="endnote">

                    本文为原创作品，发布于 @(PostTime.ToRelativeTime())，根据
                    <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/deed.zh">
                        知识共享署名-相同方式共享 4.0 国际（CC BY-SA 4.0）
                    </a>
                    许可协议进行许可。
                    <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/deed.zh">
                        <img alt="知识共享许可协议" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" />
                    </a>
                </p>
    }
    else
    {
                <p class="endnote">
            @* 本文转载于${PostTime}，(原作者${author}，)原文发布于${OriginalUrl}(，根据(${license}许可协议进行许可))。 *@
                    本文转载于 @(PostTime.ToRelativeTime())，
            @if (Post.Repost.OriginalAuthor is string author)
            {
                <text>原作者@(author)，</text>
            }
                    原文发布于@(Post.Repost.OriginalUrl)
            @if (Post.Repost.License is string license)
            {
                <text>，根据</text>
                @if (Post.Repost.LicenseUrl is Uri url)
                {

                                    <a rel="license" href="@url">
                        @(license)
                                    </a>
                }
                else
                {
                    @license
                }
                <text>许可协议进行许可</text>
            }
                    。
                </p>
    }

        <Giscus Repo="Jisu-Woniu/Blog" RepoId="R_kgDOG4JZsQ" Category="Announcements" CategoryId="DIC_kwDOG4JZsc4CBQ54"
        EmitMetadata="false" InputPosition="InputPosition.Top" Lang="zh-CN" Mapping="Mapping.PathName"
        ReactionsEnabled="true" Theme="light" />
}
else if (_notFound)
{
        <NotFound />
}
